<h2>Search Result</h2>
<button type="button" (click)="toSearchView()">Back</button>
<!-- If list empty, Show no result -->
<div *ngIf="reviewList.length <= 0">
    <p>Your search produces no result</p>
</div>
<div *ngIf="reviewList.length > 0">
    <div *ngFor="let r of reviewList; let idx=index">
        <table>
            <tr>
                <!-- first column -->
                <td>
                    <img src="{{r.image}}" width="150px">
                </td>
                <!-- second column -->
                <td>
                    <tr>
                        <a href="{{r.reviewURL}}" target="_blank">
                            <h3>
                                {{r.title}} ({{r.rating}})
                            </h3>
                        </a>
                    </tr>
                    <tr>
                        <strong>{{r.headline}}</strong>
                    </tr>
                    <tr>
                        <p>
                            {{r.summary}}
                        </p>
                    </tr>
                    <tr>
                        Comments: {{r.commentCount}}
                    </tr>
                    <tr>
                        <button type="button" (click)="toComment(idx)">Comment</button>
                    </tr>
                </td>
            </tr>
        </table>
    </div>
</div>